<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zvz09.xiaochen.system.mapper.SysUserRoleMapper">

    <resultMap id="UserAuthorityMap" type="com.zvz09.xiaochen.system.api.domain.bo.UserRoleBo">
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
        <result column="username" property="username"/>
        <result column="nick_name" property="nickName"/>
        <result column="side_mode" property="sideMode"/>
        <result column="header_img" property="headerImg"/>
        <result column="base_color" property="baseColor"/>
        <result column="active_color" property="activeColor"/>
        <result column="email" property="email"/>
        <result column="enable" property="enable"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_name" property="roleName"/>
    </resultMap>

    <sql id="Base_Column">
        SELECT su.id as user_id,
               sr.id as role_id,
               su.username,
               su.nick_name,
               su.side_mode,
               su.header_img,
               su.base_color,
               su.active_color,
               su.phone,
               su.email,
               su.enable,
               sr.role_code,
               sr.role_name
        from sys_user_role ua
                 left join sys_user su on su.id = ua.sys_user_id
                 left join sys_role sr on sr.role_code = ua.sys_role_code
    </sql>

    <select id="getByUserIds" resultMap="UserAuthorityMap">
        <include refid="Base_Column"/>
        WHERE ua.sys_user_id IN
        <foreach collection="list" item="userId" index="index" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>

    <select id="getByRoleIds" resultMap="UserAuthorityMap">
        <include refid="Base_Column"/>
        WHERE ua.sys_role_code IN
        <foreach collection="list" item="roleId" index="index" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
    </select>
</mapper>
